.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    animation: spin 2s linear 1s infinite normal;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
        background-color: pink;
    }
    100%{
        transform: rotate(360deg);
        background-color: aqua;
    }
}